<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Super Dictionary</title>
    <link rel="stylesheet" href="lib/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="contenner">
        <div class="logo">
            <div class="name">SUPER DICTIONARY</div>
            <div class="img logo_rotate">
                <img src="img/logo.png" alt="">
            </div>
        </div>
        <div class="noExtension" v-if="isHasExtension" id="noExtension">
            NOTE: Please install <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a>  to use SUPER DICTIONARY
        </div>
        <div class="search">
            <input id="search_value" v-model="search" type="text" :disabled="isHasExtension">
            <button id="search" @click="toSearch" :disabled="isHasExtension">search</button>
        </div>

        <div class="result_success" v-if="Object.keys(result).length > 0">
            <div id=search_banner></div>
            <p id=search_result>{{result.value}}</p>
            <div class="author">
                <i><p> Author:</p> <p id=search_result_author> {{result.author}}</p></i>
            </div>
        </div>

        <div class="result_faile" v-if="fail_add">
            Failed to find related information. Do you want to <button id="add" @click="toShow">add</button> infromation for "<i id="result_faile_add">{{fail_add}}</i>"?
        </div>

        <div class="add_banner" v-if="isShowAdd">
            <input type="text" id="add_value" v-model="add_value" placeholder="input contents for your keyword">
            <button id="push" @click="toAdd">submit</button>
            </div>
    </div>
    <!-- <script src=lib/jquery-3.3.1.min.js></script> -->
    <script src=lib/nebPay.js></script>
    <script src=lib/vue.js></script>
    <!-- <script src=lib/bootstrap-4.0.0-dist/js/bootstrap.min.js></script> -->
    <script>
    const NebPay = require("nebpay");     //https://github.com/nebulasio/nebPay
    const nebPay = new NebPay();
    const dappAddress = "n1oXdmwuo5jJRExnZR5rbceMEyzRsPeALgm"; // 例子中的地址
    // 本人的地址 需要替换
    // const dappAddress = "n1vk96xrP2BDtttNKUaQVz7ApkpTLxn6wio";
    const vm = new Vue({
        el: '.contenner',
        data () {
            return {
                isHasExtension: typeof(webExtensionWallet) === "undefined",
                search: '',
                add_value: '',
                isShowAdd: false,
                hasResult: false,
                fail_add: '',
                result: {}
            }
        },
        methods: {
            toSearch () {
                var to = dappAddress
                var value = '0';
                var callFunction = 'get';
                let callArgs = `["${this.search}"]`
                nebPay.simulateCall(to, value, callFunction, callArgs, {    //使用nebpay的simulateCall接口去执行get查询, 模拟执行.不发送交易,不上链
                    listener: ({result}) => {
                        console.log(result)
                        if (result === 'null') {
                            this.fail_add = this.search
                            this.result = {}
                        } else {
                            this.fail_add = ''
                            try {
                                this.result = JSON.parse(result)
                            } catch (error) {
                                this.result = {value: result}
                            }
                        }
                    }
                })

                this.isShowAdd = false
            },
            toShow () {
                this.fail_add = ''
                this.isShowAdd = true
            },
            toAdd () {
                var to = dappAddress
                var value = "0"
                var callFunction = "save"
                var callArgs = `["${this.search}", "${this.add_value}"]`
                nebPay.call(to, value, callFunction, callArgs, {    //使用nebpay的call接口去调用合约,
                    listener: (res) => {
                        console.log("response of push: " + res)
                    }
                });
            }
        }
    })
</script>
</body>

</html>
